
@model int
<div class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a href="/CourseDetails/Details/@Model">@KTraining.Resources.Views.Common.Details</a></li>
        <li><a href="/CourseMaterials/Materials/@Model">@KTraining.Resources.Views.Common.Materials</a></li>
        <li><a href="/CourseImages/Images/@Model">@KTraining.Resources.Views.Common.Pictures</a></li>
        <li><a href="/CourseVideos/Videos/@Model">@KTraining.Resources.Views.Common.Videos</a></li>
    </ul>
</div>
