@{
    ViewBag.Title = "Успешно променихте паролата";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
      Вашата парола беше променена. Моля @Html.ActionLink("цъкнете тук за да се впишете", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
